name: Functional Tests

on:
  pull_request:
    branches:
    - master
    paths-ignore:
    - 'docs/**'
    - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CI: true

jobs:
  macos_matrix:
    uses: ./.github/workflows/macos-matrix.yml

  build:
    needs:
    - macos_matrix
    # https://github.com/actions/runner-images/tree/main/images/macos
    strategy:
      matrix:
        include: ${{ fromJSON(needs.macos_matrix.outputs.matrix) }}
      fail-fast: false

    runs-on: ${{ matrix.os }}

    name: e2e
    steps:
    - uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: "${{ matrix.xcode_version }}"

    - run: |
        appium_ver=$(node -p "require('./package.json').peerDependencies?.appium")
        npm install
        export cwd=$(pwd)
        pushd "$cwd"
        cd ~
        npm install -g "appium@$appium_ver"
        appium driver install --source=local "$cwd"
        appium driver doctor mac2
        popd
      name: Install and run doctor checks
