name: Unit Tests

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'
  push:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'


jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  macos_matrix:
    uses: ./.github/workflows/macos-matrix.yml

  test:
    needs:
    - node_matrix
    strategy:
      fail-fast: false
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run linter
    - run: npm run test
      name: Run unit tests

  analyze_wda:
    needs:
    - macos_matrix
    strategy:
      matrix:
        include: ${{ fromJSON(needs.macos_matrix.outputs.matrix) }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ matrix.xcode_version }}
    - run: |
        pushd "$(pwd)"
        cd WebDriverAgentMac
        xcodebuild -project "WebDriverAgentMac.xcodeproj" -scheme WebDriverAgentLib analyze
        popd
      name: Analyze WebDriverAgentLib
    - run: |
        pushd "$(pwd)"
        cd WebDriverAgentMac
        xcodebuild -project "WebDriverAgentMac.xcodeproj" -scheme WebDriverAgentRunner analyze
        popd
      name: Analyze WebDriverAgentRunner
    - run: |
        pushd "$(pwd)"
        cd WebDriverAgentMac
        xcodebuild -project "WebDriverAgentMac.xcodeproj" -scheme IntegrationTests analyze
        popd
      name: Analyze IntegrationTests
    - run: |
        pushd "$(pwd)"
        cd WebDriverAgentMac
        xcodebuild -project "WebDriverAgentMac.xcodeproj" -scheme WebDriverAgent analyze
        popd
      name: Analyze WebDriverAgent
